<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
            
            <bean class="com.ty.beans.Address" id="addrId">
            <property name="Location" value="Kalyan"></property>
            <property name="PinCode" value="43267"></property>
            <property name="State" value="Maharashtra"></property>
            
            
            
            </bean>
            
           <bean class="com.ty.beans.Student" id="studId">
           <property name="Name" value="Tejas"></property>
           <property name="Rollno" value="101"></property>
           <property name="address" ref="addrId"></property>
         
           </bean> 
            
       </beans>
            
